<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PushNotificationsApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DF1081991D21DAC90020BB39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF1081AD1D21DAC90020BB39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF1081B81D21DAC90020BB39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
